<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h2>User List</h2>
      <div *ngFor="let user of users" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{user.firstName}}</h5>
          <p class="card-text">{{ user.email }}</p>
          <button class="btn btn-primary mr-2" (click)="editUser(user)">Edit</button>
          <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="isEdit" class="card mb-3">
        <div class="card-body">
          <h2>Edit User</h2>
          <form (ngSubmit)="updateUser()" #userForm="ngForm">
            <div class="form-group">
              <input type="text" name="firstName" [(ngModel)]="selectedUser.firstName" class="form-control" placeholder="First Name" required>
            </div>
            <div class="form-group">
              <input type="text" name="lastName" [(ngModel)]="selectedUser.lastName" class="form-control" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <input type="email" name="email" [(ngModel)]="selectedUser.email" class="form-control" placeholder="Email" required>
            </div>
            <button type="submit" class="btn btn-success mr-2">Update User</button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
          </form>
        </div>
      </div>
      <div *ngIf="!isEdit" class="card mb-3">
        <div class="card-body">
          <h2>{{ isNew ? 'Add New User' : 'Update User' }}</h2>
          <form (ngSubmit)="isNew ? addUser() : updateUser()" #userForm="ngForm">
            <div class="form-group">
              <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control" placeholder="First Name" required>
            </div>
            <div class="form-group">
              <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <input type="email" name="email" [(ngModel)]="user.email" class="form-control" placeholder="Email" required>
            </div>
            <button type="submit" class="btn btn-primary">{{ isNew ? 'Add User' : 'Update User' }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
